html,
body {
  margin: 0;
  height: 100vh;
}

.flex-container {
  display: flex;
  height: 100%;
  font-family: Arial, sans-serif;
  width: 793px;
}

.left-column {
  background-color: #003d74;
  color: whitesmoke;
  flex-basis: 30%;
}

ul {
  line-height: 150%;
}

.contact-information {
  margin-right: 10px;
  list-style: none;
}

.right-column {
  background-color: #ffd;
  padding: 10px;
  flex-basis: 70%;
}

button {
  background-color: blueviolet;
  padding: 30%;
  margin: 7%;
}

.header-info {
  background-color: #012e58;
  padding-left: 10px;
}

.text-wrapper {
  margin-left: 10px;
  font-size: 14px;
  padding: 10px;
  line-height: 25px;
}

h2 {
  padding-left: 10px;
}

img{
    width: 160px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}