.flex-container{
    display: flex;
    height: 100%;
    font-family: Arial, sans-serif;
    width: 793px;
    border: solid 1px #ffd;

}
 .div1{
 background-color:blue;
 color: whitesmoke;
 width: 25%;
 height: 1122px;
}


 .div2{
 background-color: #ffd;
 width: 75%;
 height: 1122px;
 padding-left: 10px;
 padding-right: 10px;
}
button{
    background-color: blueviolet;
    
    padding: 30%;
    margin: 7%;
}

.header-info 
{
    background-color: #01b;  
    text-indent: 10px;
}


ul>*
{
margin-top: 10px;
}
.text-wrepper 
{
    margin-left:10px;
    font-size: 14px;
    padding: 10px;
    line-height: 25px;
}